* {
    padding: 0;
    margin: 0;
}


/* banner section style */

header {
    max-width: 82.5%;
    margin: 50px auto;
    position: relative;   
}

.banner-img {
    width: 100%;
    filter: brightness(70%);   
}

.banner-container{
    text-align: center;
    font-family: Merriweather, serif;
    color: #FFF;
    position: absolute;
    max-width: 632px;
    top: 29.5%;
    right: 26%;
    bottom: 29.5%;
    left: 26%;
}

.banner-intro{
    font-size: 32px;
    font-weight: 400px;
    margin-bottom: 15px;
}

.banner-title{
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}
/* banner design end  */

/* main section design start */
.main-container {
    max-width: 82.5%;
    margin: 120px auto;
}

/* discoun section design starts */
.discount{
    text-align: center;
    font-family: Inter, sans-serif;
}

.discount-rate {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.discount-para {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.discount-category {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.discount-img {
    width: 803px;
    height: 500px;
    margin-bottom: 120px;
}
/* discount section end */

/* party section starts */
.party {
    position: relative;
}

.party-img {
    width: 100%;
    filter: brightness(80%);
}

.party-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10.5% 0 9.5%;
    position: absolute;
    top: 9.5%;
    bottom: 10.5%;
}

.party-text {
    max-width: 52%;
    
    
}

.party-title {
    color: #FFF;
    font-family: Merriweather, serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7px;
}

.party-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}

.party-btn {
    color: #FFF;
    text-align: center;
    font-family: Inter, sans-serif ;
    font-size: 20px;
    font-weight: 700;
    padding: 32px;
    border: 0;
    background: none;
}

.ball-img {
    width: 320px;
    height: 465px;
}
/* party section design end here */

/* schedule section design starts here */
.schedule {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%); 
    border-radius: 16px;
    margin: 120px 0;
    padding: 100px 28%;
    text-align: center;
}

.schedule-description {
    color: #070211;
    font-family: Inter, sans-serif ;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    
}

.red-text {
    color: #F00;
}

.join{
    font-family: Inter, sans-serif ;
    font-weight: 700;
    font-size: 20px;
    padding: 16px 32px;
    color: #FFF;
    background: #F00;
    border: 0;
    border-radius: 8px;
    margin-top: 48px;
}
/* schedule section end here */

/* offer section design starts here */
.offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coming-soon {
    width: 30%;
}

.offer-para {
    color: #F00;
    font-family: Inter, sans-serif ;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.offer-title {
    color: #070211;
    font-family:Merriweather, serif;
    font-size: 48px;
    font-weight: 900;
}

.offer-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter, sans-serif ;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 22px;
    margin-bottom: 40px;
}

.circle {
    padding: 49px;
    border:15px solid #F00 ;
    border-radius: 50%;
}

.year{
    width: 20%;
}

.number {
    color: #F00;
    font-family: Inter, sans-serif;
    font-size: 48px;
    font-weight: 700;
}
/* offer section design end here */

/* holiday section design starts here */



/* holiday section design end here */

/* portfolio section design starts here */
.portfolio{
    margin: 120px 0;
}
.portfolio-text{
    max-width: 68%;
}

.gift{
    color: #F00;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.galary-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio-img{
    width: 32%;
}

.portfolio > .galary-container {
    margin-bottom: 24px;
}
/* portfolio section end here */

/* newsletter section design starts here */
.newsletter {
    padding: 80px 16%;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

#email {
    padding: 25px 30px; 
    background:#FFF ;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 33%;
    border: 0;
    border-radius: 50px 0 0 50px;
}
.subscribe{
    padding: 23px 56px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: Inter, sans-serif;
    background: #F00;
    border: 0;
    border-radius:0 50px 50px 0;

}
/* newsletter section ends here */